/* Global */
html {
	box-sizing: border-box; 
  }

body {
	max-width: 1000px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
}

/* Utilidades */
.content-center {
	margin: 0 auto;
}

.container {
	margin: 10px;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 20px;
	padding: 15px;	
}
/* Multimedia */
.fotocv {
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

.logotipo {
	padding: 10px 0px;
	height: 130px;
	width: 120px;
	margin: 10px;
}
/* Text Animation */
.text-style p::before {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.text-style p:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.text-style p::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;	
	background: rgb(153, 221, 255);	
	z-index: -1;
	transition: transform .5s ease;

}

.text-style p {
	position: relative;
	z-index: 1;
}

/* Diseño de botones, enlaces y Alertas */
#button {
	background-color:rgb(244, 186, 38);
	border-radius: 5px;
	border: 1px solid rgb(0, 0, 0);
	padding: 6px;
}

.a-decoration {
	display: inline-block;
	text-decoration: none;
	background-color: #313231;
	padding: 6px;
	color: #ffffff;
	margin-top: 10px;
	border-radius: 5px;
}

.a-decoration:hover {
	color: rgb(244, 186, 38);
}

.alert-copy {
	background-color: #279af2;
	border-radius: 10px;
	width: 25%;
	text-align: center;
	color: #ffffff;
	margin: 10px 0;
}

.error-copy {
	background-color: #fdb11a;
	border-radius: 10px;
	width: 25%;
	text-align: center;
	color: #ffffff;
	margin: 10px 0;
}
